@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Knewave&family=Noto+Sans+Hebrew:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');
@font-face {
    font-family: 'Anton';
    src: url('../font/Anton-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../font/DMSans_18pt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../font/Recoleta-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'IBM PLex Mono';
    src: url(../font/IBMPlexMono-Light.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Hebrew';
    src: url(../font/NotoSansHebrew-Bold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'mothelin';
    src: url(../font/mothelin.otf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Noto Sans Hebrew", sans-serif;
}

header{
    font-family: 'Recoleta', serif;
    width: 100%;
    display: flex;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99;
}

.colom1{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.logo{
    border-right: .5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
}

.logo img{
    height: 100%;
}

.brand{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
}

.brand h1{
    font-weight: 900;
    font-size: 44px;
}

.kata-kata{
    font-family: 'IBM Plex Mono', sans-serif;
    border-left: .5px solid black;
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: flex-end;
    width: 10%;
    height: 100%;
}

.kata-kata p{
    margin-right: 5px;
    font-size: 12px;
}

.colom2{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.card-navigation{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .5px solid black;
    background-color: #9D6638;
    width: 100%;
    transition: 0.3s ease-in-out;
}

.card-navigation:hover{
    background-color: black;
}


.tentang-nav{
    border-left: none;
}

.menu-nav{
    border-left: none;
}

.contact-nav{
    border-left: none;
}

.home{
    font-family: 'Noto Sans Hebrew', serif;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.home-text{
    padding-left: 20px;
    width: 50%;
}

.text-content{
    width: 95%;
}

.text-content h6{
    margin-bottom: 10px;
    font-family: "Recoleta", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #4E220F;
}

.text-content h1{
    margin-bottom: 10px;
    font-family: "Anton", sans-serif;
    font-size: 55px;
    font-weight: 500;
    line-height: 1.1;
}

.text-content p{
    margin-bottom: 35px;
    font-family: "IBM PLex Mono", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.text-content a{
    border-radius: 8px;
    padding: 15px 100px;
    border: .5px solid black;
    background-color: #B0BA99;
    font-family: "Recoleta", sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #4E220F;
    transition: 0.3s ease-in-out;
}

.text-content a:hover{
    background-color: #4E220F;
    color: white;
}

.home-img{
    display: flex;
    justify-content: center;
    width: 50%;
}

.home-img img{
    background-color: transparent;
    margin-top: -125px;
    width: 90%;
}

.tentang{
    display: flex;
    height: 100vh;
}

.tentang-container{
    margin-top: 20px;
    display: flex;
    width: 100%;
}

.tentang-left{
    width: 50%;
    padding-left: 20px;
}

.tentang-left h1{
    font-family: "mothelin", sans-serif;
    letter-spacing: 2px;    
    font-size: 200px;
    font-weight: 900;
    margin-bottom: 50px;
}

.left-container{
    display: flex;
    gap: 20px;
}

.left1, .left2{
    font-family: "IBM PLex Mono", sans-serif;
    width: 42%;
}

.left1 p, .left2 p{
    text-align: justify;
    font-size: 16px;
}

.brand-left {
    display: flex;
}

.brand-left img{
    width: 60%;
}

.tentang-right{
    margin-right: 150px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    text-align: center;

}

.right1{    
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "IBM PLex Mono", sans-serif;
    width: 50%;
    padding-right: 20px;
}

.right1 p{
    text-align: justify;
    font-size: 20px;
    font-weight: 900;
}

.right1 h1{
    font-family: "Recoleta", sans-serif;
    letter-spacing: 2px;    
    font-size: 80px;
    font-weight: 900;
}

.menu{
    margin-top: 25px 0;
    width: 100%;
    height: 100vh;
}

.menu-head{
    padding: 20px 0;
    background-color: #F7F1DE;
    color: #4E220F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-head h1{
    font-family: "mothelin", sans-serif;
    font-size: 80px;
    font-weight: 500;
}

.menu-head p{
    font-family: "Recoleta", sans-serif;
    width: 50%;
    font-size: 18px;
    font-weight: 200;
    text-align: center;
}

.image-menu{
    background: linear-gradient(#F7F1DE, #9D6638, #4E220F);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-menu img{
    width: 900px;
}

.image-menu .paragraf{
    left: 40%;
    width: 400px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 500px;
    z-index: 99;
}

.paragraf p{
    color: #F7F1DE;
    font-family: "Noto Sans Hebrew", sans-serif;
    font-size: 20px;
    font-weight: 800;
}

.kosong{
    width: 100%;
    height: 400px;
    background-color: #4E220F;
}

.contact{
    margin-top: 560px;
    width: 100%;
}

.contact .card-info{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.card-info h1{
    font-size: 40px;
    font-family: "Anton", sans-serif;
}


.lokasi iframe{
    width: 100%;
}